*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #dee4e3;
    header{
        background: #00d40b;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        #logo{
            img{
                width: 70px;
                margin: 5px;
                &:hover{
                    animation: foto 1s infinite linear;
                }
            }
            display: flex;
            align-items: center;
            h1{
                font-style: italic;
                color: #ffffff;
            }
        }   
        nav{
            ul{
                display: flex;
                list-style-type: none;
                li{
                    margin: 5px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        padding: 6px;
                        border: 2px solid #ffffff;
                        border-radius: 6px;
                        transition: ease-out 0.2s;
                        &:hover{
                            box-shadow: 0 0 8px;
                            background-color: #ffffff25;
                        }
                    }
                }
            }
        }
    }

    main{
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content:baseline;
        align-items: center;
        #header-main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(0deg,#dee4e3 0%, rgba(0, 212, 11, 1) 100%);
            width: 100%;
            margin-bottom: 30px;
            padding: 18px;
            h2{
                font-size: 52px;
                text-shadow: 0 0 2px;
                margin-bottom: 35px;
                color: #fff;
            }
        }

        section{
            background-color: #f1f1f1;
            width: 900px;
            padding: 12px;
            border-radius: 8px;
            box-shadow: 0 0 3px #a1a1a1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            h3{
                color: #1cb80e;
                font-size: 46px;
                text-shadow: 0 0 3px;
            }
            p{
                color: #444444;
            }
            article{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                border: 2px solid #00d40b;
                box-shadow: 0 0 4px #00d40b;
                border-radius: 8px;
                margin: 8px;
                padding: 16px;
                width: 100%;
                img{
                    width: 300px;
                    margin-right: 8px;
                    align-self: center;
                }
                .dados-evento{
                    h4{
                        font-size: 48px;
                        color: #1cb80e;
                        text-shadow: 0 0 2px;
                        margin-bottom: 24px;
                    }
                    p{
                        font-size: 22px;
                    }
                }

            }

            form{
                display: flex;
                flex-direction: column;
                padding: 5px;
                width: 50%;
                input[type="text"]{
                    padding: 5px;
                    border: 2px solid #393939;
                    border-radius: 4px;
                    transition: ease-out 0.1s;
                    width: 100%;
                    margin: 5px;
                    &:focus{
                        border: 2px solid #00d40b;
                        box-shadow: 0 0 4px #000000;
                    }
                    &:active{
                        transform: scale(1.02);
                    }
                }
                input[type="email"]{
                    padding: 5px;
                    border: 2px solid #393939;
                    border-radius: 4px;
                    transition: ease-out 0.1s;
                    width: 100%;
                    margin: 5px;
                    &:focus{
                        border: 2px solid #00d40b;
                        box-shadow: 0 0 4px #000000;
                    }
                    &:active{
                        transform: scale(1.02);
                    }
                }
                input[type="password"]{
                    padding: 5px;
                    border: 2px solid #393939;
                    border-radius: 4px;
                    transition: ease-out 0.1s;
                    width: 100%;
                    margin: 5px;
                    &:focus{
                        border: 2px solid #00d40b;
                        box-shadow: 0 0 4px #000000;
                    }
                    &:active{
                        transform: scale(1.02);
                    }
                }
                input[type="tel"]{
                    padding: 5px;
                    border: 2px solid #393939;
                    border-radius: 4px;
                    transition: ease-out 0.1s;
                    width: 100%;
                    margin: 5px;
                    &:focus{
                        border: 2px solid #00d40b;
                        box-shadow: 0 0 4px #000000;
                    }
                    &:active{
                        transform: scale(1.02);
                    }
                }
                input[type="date"]{
                    padding: 5px;
                    border: 2px solid #393939;
                    border-radius: 4px;
                    transition: ease-out 0.1s;
                    width: 30%;
                    margin: 5px;
                    &:focus{
                        border: 2px solid #00d40b;
                        box-shadow: 0 0 4px #000000;
                    }
                    &:active{
                        transform: scale(1.02);
                    }
                }
                input[type="checkbox"]{
                    margin: 5px;
                }

                textarea{
                    padding: 5px;
                    border: 2px solid #393939;
                    border-radius: 4px;
                    transition: ease-out 0.1s;
                    width: 100%;
                    margin: 5px;
                    max-width: 100%;
                    &:focus{
                        border: 2px solid #00d40b;
                        box-shadow: 0 0 4px #000000;
                    }
                    &:active{
                        transform: scale(1.02);
                    } 
                }

                button[type="submit"]{
                    width: 100px;
                    margin: 3px;
                    padding: 5px;
                    background-color: #04bd0d;
                    color: #ffffff;
                    border: 0;
                    border-radius: 6px;
                    box-shadow: inset -1px -1px 1px #000000, inset 1px 1px 2px #ffffff, 1px 1px 2px #000000; /* Fiz sem pesquisar */
                    transition: 0.1s;
                    align-self: center;
                    &:active{
                        box-shadow: none;
                        box-shadow: inset -1px -1px 2px #000000, inset 1px 1px 1px #ffffff;
                    }
                }
                button[type="reset"]{
                    width: 100px;
                    margin: 3px;
                    padding: 5px;
                    background-color: #d70c0c;
                    color: #ffffff;
                    border: 0;
                    border-radius: 6px;
                    box-shadow: inset -1px -1px 1px #000000, inset 1px 1px 2px #ffffff, 1px 1px 2px #000000; /* Fiz sem pesquisar */
                    transition: 0.1s;
                    align-self: center;
                    &:active{
                        box-shadow: none;
                        box-shadow: inset -1px -1px 2px #000000, inset 1px 1px 1px #ffffff;
                    }
                }
            }

        }
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #444444;
        padding: 10px;
        margin-top: 30px;
        width: 100%;
        p{
            color: #fff;
        }
    }


}

@keyframes foto {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}