*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    fieldset{
        display: none;
        width: 30%;
        label{
            display: flex;
            align-items: center;
            input{
                margin: 5px;
            }
        }
    }
}