*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #dee4e3;
    header{
        background: #00d40b;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        #logo{
            img{
                width: 70px;
            }
            display: flex;
            align-items: center;
            h1{
                font-style: italic;
            }
        }
        nav{
            ul{
                display: flex;
                list-style-type: none;
                li{
                    margin: 5px;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #header-main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(0deg,#dee4e3 0%, rgba(0, 212, 11, 1) 100%);
            width: 100%;
            margin-bottom: 30px;
            padding: 18px;
            h2{
                font-size: 52px;
                text-shadow: 0 0 2px;
                margin-bottom: 35px;
            }
        }

        section{
            background-color: #f1f1f1;
            width: 900px;
            padding: 12px;
            border-radius: 8px;
            box-shadow: 0 0 3px #a1a1a1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                color: #1cb80e;
                font-size: 46px;
                text-shadow: 0 0 3px;
            }
            p{
                color: #444444;
            }
            article{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                border: 2px solid #00d40b;
                box-shadow: 0 0 4px #00d40b;
                border-radius: 8px;
                margin: 8px;
                padding: 16px;
                width: 100%;
                img{
                    width: 300px;
                    margin-right: 8px;
                    align-self: center;
                }
                .dados-evento{
                    h4{
                        font-size: 48px;
                        color: #1cb80e;
                        text-shadow: 0 0 2px;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }


}