.dropdown{
    display: block;
}
.headerNav{
    display: none;
}

.cor-1{
    background-color: rgb(79, 79, 116);
    
}

.cor-2{
    background-color: rgb(47, 153, 135);
}

.cor-3{
    background-color: rgb(196, 63, 167);

}
.desc{
    padding: 10px;
    background-color: antiquewhite;
    width: 100%;
}

main{
    margin-top: 155px;
}
footer{
    margin-top: 100px;
    position:relative;
    width: 100%;
    bottom: 0;
}

@media (min-width: 768px) {
    .dropdown{
        display: none;
    }
    .headerNav{
        display: block;
    }
    
}
